{{ form_start(formProperty)}}

    <div class="row">
        <div class="col-md-4">{{ form_row(formProperty.title) }}</div>
        <div class="col-md-4">{{ form_row(formProperty.surface) }}</div>
        <div class="col-md-4">{{ form_row(formProperty.price) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(formProperty.rooms) }}</div>
        <div class="col-md-4">{{ form_row(formProperty.bedrooms) }}</div>
        <div class="col-md-4">{{ form_row(formProperty.floor) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{  form_row(formProperty.address)}}</div>
        <div class="col-md-4">{{  form_row(formProperty.city)}}</div>
        <div class="col-md-4">{{  form_row(formProperty.postalCode)}}</div>
    </div>
        {{ form_rest(formProperty)}}
        <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

{{ form_end(formProperty) }}