<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Css Bootstrap #}
        {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> #}
        {# Css Bootstwatch/lux #}
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
         {# Font-Awsome #}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {# CSS select2 pour rendu des options dans les formulaires #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Navbar Bootswatch #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
            L'Agence  <i class="fas fa-door-open"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu is defined and active_menu == 'active' %}active{% endif %}" href="{{ path('property') }}">Nos offres</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a href="{{ path('admin_property_index') }}" class="nav-link {% if active_edit is defined and active_edit == 'active' %}active{% endif %}">Gérer les biens</a>
                        </li>
                    {% endif %}
                </ul>

                {% if app.user == false %}
                   <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('admin_property_index') }}" class="nav-link {% if active_login is defined and active_login == 'active' %}active{% endif %}"><i class="fa fa-lock" aria-hidden="true"></i>Connexion</a>
                        </li>
                    </ul>
                {% endif %}
                {% if app.user  %}
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a href="{{ path('logout') }}" class="nav-link"><i class="fa fa-unlock" aria-hidden="true"></i>Déconnexion</a>
                        </li>
                    </ul>
                {% endif %}
                
            </div>
        </nav>

        {% block body %}{% endblock %}

        {# JS bootstrap #}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {# JS select2 pour le rendu des otpions dans les formulaires #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha256-wfVTTtJ2oeqlexBsfa3MmUoB77wDNRPqT1Q1WA2MMn4=" crossorigin="anonymous"></script>
        <script>$('select').select2()</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
